<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <section class="top-page">
      <p><%= notice %></p>
      <h1>Diver Facebook</h1>
      <div class="btn-wrapper"><%= link_to 'ログインする', new_user_session_path, class: 'btn btn-primary btn-lg btn-block', role: 'button', aria: {pressed: true} %></div>
      <div class="btn-wrapper"><%= link_to '新しくアカウントをつくる', new_user_registration_path, class: 'btn btn-secondary btn-lg btn-block', role: 'button', aria: {pressed: true} %></div>
    </section>
  </div>
</div>