.wrapper {
  //background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.topic {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.topic-avatar {
  img {
    width: auto;
    height: 40px;
    margin-right: 5px;
  }
}